.containersingup {
  background-image: url("../../assets/images/bgsingup.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.link {
  background-color: transparent;
}

.singupform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  height: 100%;
}

.singupform h1 {
  font-size: 40px;
  background-color: transparent;
  margin-bottom: 2rem;
}

.frogettext {
  text-align: right;
  background-color: transparent;
}

.forms {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 1.5rem;
  background-color: transparent;
  align-items: center;
}

.forms input,
.btnsingups button {
  width: 280px;
  height: 40px;
  border-radius: 10px;
  padding-right: 5px;
  font-size: 16px;
}

.forms input {
  border: none;
  background-color: #d9d9d9;
  outline: none;
}

.forms input::placeholder {
  padding: 5px;
}

.error {
  font-size: 12px;
  color: red;
  margin-top: 5px;
}

.btnsingups {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btnsingups button {
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.btnsingups button:first-child {
  background-color: #8eb486;
}

.btnsingups button:last-child {
  background-color: #dfd1cb;
  color: black;
}

@media (max-width: 768px) {
  .forms input,
  .btnsingups button {
    width: 203%;
    height: 40px;
  }
  .forms {
    align-items: start;
  }
  .forms input::placeholder {
    font-size: 13px;
  }

  .frogettext {
    font-size: 18px;
  }
}
