.containerhero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.container2 h3 {
  font-size: 5vw; /* تغییر به واحد نسبی */
  color: #5b4d49;
}

.frishing3 {
  position: absolute;
  left: 1%;
  top: 20%;
  width: 13vw; /* تغییر به واحد نسبی */
  background-color: transparent;
}

.container2 p {
  font-size: 4vw; /* تغییر به واحد نسبی */
  color: #5b4d49;
  font-weight: bold;
}

.container2 p span {
  color: #748770;
}

.container2 button {
  width: 20vw; /* تغییر به واحد نسبی */
  background-color: #748770;
  color: #fff;
  border: none;
  padding: 1vw 2vw; /* تغییر به واحد نسبی */
  border-radius: 30px;
  font-size: 2vw; /* تغییر به واحد نسبی */
  cursor: pointer;
  margin-top: 3vw; /* تغییر به واحد نسبی */
}

.bg {
  width: 40vw; /* تغییر به واحد نسبی */
  height: 40vw; /* تغییر به واحد نسبی */
}

.containerhero {
  position: relative;
}

.pizza {
  position: absolute;
  top: 20%;
  right: 10%;
  width: 25vw; /* تغییر به واحد نسبی */
  background-color: #c5d5bd !important;
  border: none;
  padding: 0;
  margin: 0;
  z-index: 10;
  animation: float 3s ease-in-out infinite;
}

.bgborder {
  position: absolute;
  right: 8.7%;
  top: 20%;
  background-color: transparent;
  z-index: 100;
  animation: float 3s ease-in-out infinite;
}

.bgborder img {
  width: 28vw; /* تغییر به واحد نسبی */
  background-color: transparent;
}

.frishimg {
  background-color: transparent;
  position: absolute;
  right: 56%;
  bottom: 13%;
  transform: rotate(-10deg);
}

.frishimg img {
  background-color: transparent;
  width: 20vw; /* تغییر به واحد نسبی */
}

.circle {
  position: absolute;
  background-color: transparent;
  top: 15%;
  right: 13%;
}

.circle img {
  background-color: transparent;
  width: 2vw; /* تغییر به واحد نسبی */
}

.circle2 {
  position: absolute;
  background-color: transparent;
  bottom: 6%;
  left: 43%;
}

.circle2 img {
  background-color: transparent;
  width: 2vw; /* تغییر به واحد نسبی */
}

.leftPng {
  background-color: transparent;
  position: absolute;
  top: -3vw; /* تغییر به واحد نسبی */
  left: 90%;
  animation: float 3s ease-in-out infinite;
}

.leftPng img {
  background-color: transparent;
  width: 3vw; /* تغییر به واحد نسبی */
}

.cricle3 {
  position: absolute;
  bottom: 48%;
  right: 14%;
  background-color: transparent;
}

.cricle3 img {
  background-color: transparent;
  width: 2vw; /* تغییر به واحد نسبی */
  animation: float 3s ease-in-out infinite;
}

.cricle4 {
  position: absolute;
  top: 10%;
  left: -5vw; /* تغییر به واحد نسبی */
  background-color: transparent;
  animation: float 3s ease-in-out infinite;
}

.cricle4 img {
  background-color: transparent;
  width: 2vw; /* تغییر به واحد نسبی */
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.circle img,
.circle2 img,
.pizza,
.frishimg img {
  animation: float 3s ease-in-out infinite;
}

/* Medias */
@media (max-width: 576px) {
  .containerhero {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .bg {
    width: 70vw; /* تغییر به واحد نسبی */
    height: 73vw; /* تغییر به واحد نسبی */
  }

  .pizza {
    width: 50vw; /* تغییر به واحد نسبی */
    top: 16%;
    right: 0;
  }

  .bgborder img {
    width: 50vw; /* تغییر به واحد نسبی */
  }

  .frishimg img {
    width: 35vw; /* تغییر به واحد نسبی */
    right: 45%;
    bottom: 8%;
    transform: rotate(0deg);
  }

  .circle,
  .circle2,
  .cricle3,
  .cricle4 {
    display: none;
  }

  .container2 h3 {
    font-size: 6vw; /* تغییر به واحد نسبی */
  }

  .container2 p {
    font-size: 5vw; /* تغییر به واحد نسبی */
  }

  .container2 button {
    width: 50vw; /* تغییر به واحد نسبی */
    font-size: 4vw; /* تغییر به واحد نسبی */
    padding: 5vw 8vw; /* تغییر به واحد نسبی */
    margin-top: 6vw; /* تغییر به واحد نسبی */
  }

  .leftPng img {
    width: 6vw; /* تغییر به واحد نسبی */
    top: -5vw; /* تغییر به واحد نسبی */
    left: 85%;
  }
}

@media (max-width: 390px) {
  .containerhero {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; /* اضافه کردن موقعیت رلیتیو برای محاذات بهتر */
  }

  .bg {
    width: 220px;
    height: 220px;
  }

  .pizza {
    width: 180px;
    top: 12%;
    right: 0%; /* به سمت راست میچسبد */
    position: absolute; /* موقعیت‌دهی به صورت مطلق */
  }

  .bgborder {
    position: absolute;
    right: 0%; /* به سمت راست میچسبد */
    top: 16%;
  }

  .bgborder img {
    width: 180px;
  }

  .frishimg img {
    width: 130px;
    right: 30%;
    bottom: 10%;
    transform: rotate(0deg);
  }

  .circle,
  .circle2,
  .cricle3,
  .cricle4 {
    display: none;
  }

  .container2 h3 {
    font-size: 24px;
  }

  .container2 p {
    font-size: 20px;
  }

  .container2 button {
    width: 150px;
    font-size: 16px;
    padding: 6px 12px;
    margin-top: 20px;
  }

  .leftPng img {
    width: 20px;
    top: -12px;
    left: 85%; /* به سمت راست میچسبد */
  }
}
